

body{
    margin: 0 auto;  
    background-image: url(https://images.alphacoders.com/713/713302.jpg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 15% ;
    background-attachment: fixed;
  }
  
  footer{
    float: bottom center;
    width: 100%;
    height: 50vh;
    overflow: auto;
    background-image: url(https://images4.alphacoders.com/746/746995.jpg);
    background-size: 100%;
    background-position: 0% 220% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .column{
    float: left;
    width: 50%;
    margin: 10% 0% 0% 0%;
  }
  
  h1{
    text-align: center;
    font-size: 3.0em;
    color: black;
  }
  
  header{
    width: 100%;
    height: 20vh;
    text-align: center;
    background-color: rgba(0, 0, 0);
  }
  
  ul{
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 50, 100);
    text-decoration: none;
    z-index: 999;
  }
  
  .navBar{
    font-size: 1.5em;
    float: right;
    display: block;
    color: white;
    padding: 30px 25px;
    text-decoration: none;  
  }
  
  .navBar:hover{
    text-decoration: none;
    background-color: rgb(30, 40, 80);  
  }
  
  a:hover{
    color: rgb(255, 200, 100);
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  
  .active {
    color: rgb(255, 200, 100);
  }
  
  #homeVid{
    text-align: center;
    width: 100vw;
    height:100vh;
  }
  
  #homePage{
    width:60vw;
    height: 215px;
    margin: auto;
    padding: 30px;
    background-color: rgba(60, 60, 60, 0.6);
  }
  
  p{
    font-family: 'Oswald', sans-serif;
  }
  
  .summary {
    float: center;
    height: 20vh;
    width: 100%;
    background-color: rgb(255, 200, 100);
    padding: 1vh 0vw 1vh 0vw;
    
  
    text-align: center;
    font-size: 2em;
    font-style: normal;
    color:black;
    line-height: 1em;  
  }
  
  
  #container{
    height: 200vh;
    background-color: rgb(120, 120, 120);
    padding:5px;
  }
  
  #picLeft{
    float:left;
  }
  
  #picRight{
    float:left;
  }
  
  #textLeft{
    font-family: 'Oswald', sans-serif;
    position: left;
    float:left;
    text-align: right;
  }
  
  #textRight{
    font-family: 'Oswald', sans-serif;
    position: right;
    float:right;
    text-align: left;
  }
  
  #platforms{
    width: 100%;
    height: 6vh;
    background-color: rgb(255, 200, 100);
  }
  
  #sourcesPage{
    width:60vw;
    height: 215px;
    margin: auto;
    padding: 30px;
    background-color: rgba(60, 60, 60, 0.6);
  }
  
  #essayPage{
    width:60vw;
    height: 117vh;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 200, 100, 0.8);
  }
  
  #sourcesPage{
    width:60vw;
    height: 132vh;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 200, 100, 0.8);
  }
  
  #essayLink{
    font-size: 2.5em;
    text-align: center;
    width:60vw;
    height: 4.5vh;
    margin: auto;
    padding: 30px;
    background-color: rgba(60, 60, 60, 0.8);
  }
  
  #bottomText{
    font-size: 1.5em;
  }
  
  #aboutPage{
    width:60vw;
    height: 80vh;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 200, 100, 0.8);
  }
  
  .leftAlign{
    float: left;
    width:50%;
    overflow: auto;
  }
  
  .rightAlign{
    text-align: center;
    float: right;
    width:40%;
    overflow: auto;
  }
  
  #rightText{
    text-align: left;
    font-size: 1.5em;
  }
  
  #sources{
    font-size: 1.3em;
    text-align: center;
    overflow: auto;
  }
  
  